@import '~bootstrap/scss/bootstrap';
@import 'colors';
@import 'theme';

body {
  background-color: $background-color;
}

#message {
  color: $board-color;
}

// .container {
//   width: 800px;
//   background-color: yellow;
//   height: 800px;
// }

.signedIn {
  display: none;
}

.signedOut {

}

.row {
  background-color: $background-color;
  float: left;
  height: 200px;
  width: 800px;
}

.square {
  background-color: $board-color;
  border: 10px;
  border-color: $background-color;
  border-style: solid;
  font-size: 125px;
  height: 200px;
  width: 200px;
}

#turn {
  color: $board-color;
  font-size: 80px;
  text-align: center;
}
